# General Patterns
*.bak
.DS_Store
*~
.svn
*.swp
*.swo

# Directories
/public
/.well-known

# Files
/.htaccess
/favicon.ico
/cnf/config.ini
/robots.txt
/sitemap-*.txt
/sitemap-*.xml
/.phpunit.result.cache

# Ignoring generated composer files
/composer.json
/composer.lock
/vendor

