# General Patterns
*.bak
.DS_Store
*~
.svn
*.swp
*.swo

# Ignored Directories (root-level only)
public/
.well-known/
.phpdoc/
.docs/
docs/
vendor/

# Ignored Files (root-level only)
.htaccess
favicon.ico
cnf/config.ini
robots.txt
sitemap-*.txt
sitemap-*.xml
.phpunit.result.cache

# Generated composer file (base file should be committed)
composer.json

