<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php" colors="true" stopOnFailure="false" verbose="true">

	<testsuites>
		<testsuite name="Application Tests">
			<directory suffix="Test.php">./test</directory>
			<directory suffix="Test.php">./plugin/*/test</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">./src</directory>
			<directory suffix=".php">./plugin/*/src</directory>
		</include>
		<reporting>
			<text />
			<!-- Optional: html reports, TODO: .gitignore -->
			<!-- <html outputDirectory="coverage" /> -->
		</reporting>
	</coverage>

	<php>
		<env name="DEBUG" value="1"/>
	</php>

</phpunit>

